*{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header,footer{
    background-color: tomato;
    color: mistyrose;
    padding: 10px;
}
nav{
    width: 20%;
    float: left;
}
main{
    background-color: mistyrose;
    width: 80%;
    height: 510px;
    overflow: auto;
    float: right;
}
#a,#b,#c{
    background-color: #FFAEA5;
    height: 170px;
    font-size: 200%;
}
#a{
    background-color: mistyrose;
}
#two,#three{
    display: none;
}
table{
    margin:auto;
    width: 60%;
    border: 1px dashed indigo;
}
select,button{
    margin: 20px;
}
dt{
    font-weight: bold;
  font-style: italic;
}
dt:hover{
    font-size: 180%;
}
